.no-focus-button:focus {
    background: #007f3b;
    color: #ffffff;
}

.app-footer {
    background-color: #d8dde0;
    border-top: 4px solid #005eb8;
    padding-bottom: 24px;
    padding-top: 24px
}
