# Local .terraform directories
*.terraform

# .tfstate files
.terraform
*terraform.tfstate*
*terraform.lock.hcl*
*.tfstate
*.tfstate.*
*.terraform.lock.hcl
plan.out
plan.out.json

# System Files
*.DS_Store*
.DS_Store

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# misc
.coverage
htmlcov
coverage.xml
**/__pycache__/
.pytest_cache/
htmlcov/
*/test
*/*.pyc
__pycache__
*/__pycache__
*.pyc
.coverage.*
coverage.xml
.idea


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Chalice build and configuration scripts
*chalicebuild*

# Tests
tests/*/reports/*
tests/*/test-results/*
tests/*/playwright-report/*
tests/*/node_modules/
tests/*/playwright/.cache/
**/allure-reports/*
**/allure-results/*
**/accessibility-reports/*

/node_modules/
