name: Manually deploy tagged code to test environment
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Specify the tag to be used for deployment"
        required: true
        type: string

jobs:
  metadata:
    name: "Get Metadata"
    uses: NHSDigital/uec-dos-management/.github/workflows/metadata.yaml@v0.16
  deploy-to-test:
    name: Deploy tagged code to test
    needs: [
      metadata,
    ]
    uses: ./.github/workflows/pipeline-deploy-app-test.yaml
    with:
      workspace: ${{ needs.metadata.outputs.workspace }}
      tag: ${{ inputs.tag }}
    secrets: inherit
